<table class="">
  <thead>
    <tr class="listTable__header">
      <th>Nom</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @expense_categories.each do |expense_category| %>
      <tr>
        <th><%= expense_category.name %></th>
        <th>
          <%= link_to edit_expense_category_path(expense_category.id), remote: true, style: "text-decoration: none;" do %>
            <i class="icon icon-ic_launch_48px listTable__edit"></i>
          <% end %>
          <%= link_to expense_category_path(expense_category.id), method: :delete, remote: true, data: { confirm: 'Êtes-vous certain?' } do %>
            <i class="icon icon-ic_delete_forever_48px listTable__delete"></i></a>
          <% end %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>